<div class="container w-100">
    <div class="row w-100 w-100 mt-5">
        <div class="col-md-12">
            <h1 class="text-monospace text-center">Sejam bem vindes ao meu blog!</h1>
        </div>
    </div>

    <div class="row w-100 mt-4 mb-2">
        <div class="col-md-12">
            <p class="text-justify text-monospace">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit illo saepe placeat vero. Dolor, id ratione. Natus, exercitationem dignissimos?
                Ullam aperiam numquam, illo molestiae quibusdam deserunt aut impedit consequatur laboriosam? Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Facere voluptatum dignissimos amet vel accusantium temporibus explicabo a consequatur inventore aliquid officiis blanditiis, vitae, at est quidem dolore 
                repellendus nihil quas!

            </p>
        </div>
    </div>
</div>
    <div class="parallax"></div>
    <div class="row w-100 mt-5 mb-5">
        <div class="col-md-12 w-100 d-flex justify-content-center">
            <button class="btn- btn-outline-dark text-upper-case font-weight-bold">Ver o feed</button>
        </div>
    </div>
