/*Footer social icons*/

ul.social-network{
    list-style: none;
    display: inline;
    padding: 0;
}

ul.social-network li{
    display: inline;
    margin: 0;
    padding: 5px;

}

/* .bg-c1{
    background-color: #66ab8c;
}

.bg-c{
    background-color: #30415d;
} */

.faFacebook, .faInstagram, .faLinkedin{
    color: white;
}

.faFacebook:hover{
    color: #3b5998;
}

.faLinkedin:hover{
    color: #0072b1;

}

.faInstagram:hover{
    color: #c13584;
}

