<div class="card border-0 " style="width: 18rem;">
    <div class="d-flex justify-content-center">
        <img class="card-img-top rounded-circle w-75 mt-3 border border-dark" src="../assets/vanessa.jpeg" alt="Imagem de capa do card"> <!--https://i.imgur.com/Wz1HFCf.jpg-->
    </div>
    
    <div class="card-body">
      <h5 class="card-title text-center text-monospace">{{nome}}</h5>
      <p class="card-text text-center text-monospace">Advogada, estudante de desenvolvimento web, apaixonada por esportes, viagens e cultura.</p>
      <a href="https://www.linkedin.com/in/vanessa-marchetti/" target="_blank" class="btn btn-outline-info mb-3 d-flex justify-content-center">LinkedIn</a>

      <a href="https://github.com/marchettivanessa" target="_blank" class="btn btn-outline-dark d-flex justify-content-center">Github</a>
    </div>
  </div>