<div class="card border-0" style="width: 18rem;">
    <div class="d-flex justify-content-center">
        <img class="card-img-top rounded-circle w-75 mt-3" src="https://i.imgur.com/Wz1HFCf.jpg" alt="Imagem de capa do card">
    </div>
    
    <div class="card-body">
      <h5 class="card-title text-center text-monospace">Vanessa Marchetti</h5>
      <p class="card-text text-center text-monospace">Aluna da nona turma do curso de desenvolvimento web full stack da Generation Brasil.</p>
      <a href="https://www.linkedin.com/in/vanessa-marchetti/" target="_blank" class="btn btn-outline-info mb-3 d-flex justify-content-center">LinkedIn</a>

      <a href="https://github.com/marchettivanessa" target="_blank" class="btn btn-outline-dark d-flex justify-content-center">Github</a>
    </div>
  </div>